<h1>Welcome</h1>
<p>Wir sind ein Schweizer Unternehmen wir produzieren und vertreiben Seifen, Öle und Holz vom Adlerholz-Baum.
Für unsere Produkte verwenden wir sorgfältig ausgewählte Zutaten, welche wir bei Lieferanten unseres Vertrauens persönlich einkaufen. Mit unserem Know How, viel Liebe und Respekt stellen wir die Produkte nach bestem Wissen und Gewissen her. Wir entwickeln unsere Produkte stets weiter und lassen neue Erkenntnisse einfliessen. So können wir ausgezeichnete Qualität garantieren.
Adlerholz ist artengeschützt. Wir sind im Besitz von allen erforderlichen Papiere für den legalen Import und Export und können so auch die Echtheit nachweisen. Dies liegt uns sehr am Herzen.
Zuständigkeiten:
Arabien: Tarek Aly, Europa und Asien: René Mächler
</p>
